.technologies {
    border-top: solid 0.5px #aaa;
    display: none;
}

.technologies ul{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 25px 35px;
}

.technologies ul li{
    display: flex;
    align-items: center;
    padding: 10px 40px;
}

.technologies ul li img{
    max-width: 120px;
    filter: brightness(0) invert(0.8);
}


/*Desktop*/
@media screen and (min-width: 992px){
    .technologies {
        display: block;
    }
    .technologies ul{
        flex-direction: row;
    }
}